* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
/*estilos desktop*/

@media (min-width: 1025px) {
    .b-example-divider {
        height: 3rem;
        background-color: rgba(158, 31, 31, 0.1);
        border: solid rgba(74, 52, 114, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
    .logo {
        max-width: 20%;
        height: 500px;
        margin: 500px;
        
    }
    .img-fluid{
        max-width: 30%;
        height: auto;
    }
    .col{
        align-self: flex-end;
        line-height: 3;
        width: auto;
    }
    .card-title{
        margin: auto;
        align-self: flex-end;

    }
    .card-text{
        margin: auto;;
        text-align: start;
    }
}


/*estilos tablets*/

@media (min-width: 481px) {
    .b-example-divider {
        height: 3rem;
        background-color: rgba(158, 31, 31, 0.1);
        border: solid rgba(74, 52, 114, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
    .logo {
        max-width: 20%;
        height: auto;
        margin: auto;
        
    }
    .img-fluid{
        max-width: 30%;
        height: auto;
    }
    .col{
        align-self: flex-end;
        line-height: 3;
        width: auto;
    }
    .card-title{
        margin: auto;
        align-self: flex-end;

    }
    .card-text{
        margin: auto;
        text-align: start;
    }
    .themed-grid-col {
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: rgba(86, 61, 124, .15);
        border: 1px solid rgba(86, 61, 124, .2);
    }
    .themed-container {
        padding: .75rem;
        margin-bottom: 1.5rem;
        background-color: rgba(0, 123, 255, .15);
        border: 1px solid rgba(0, 123, 255, .2);
    }
    .img-fluid{
        max-width: 30%;
        height: auto;
    }
}


/*estilos mobile*/

@media (min-width: 420px) and (max-width: 480px) {
    .b-example-divider {
        height: 3rem;
        background-color: rgba(158, 31, 31, 0.1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
    .logo {
        max-width: 20%;
        height: auto;
        margin: auto;
        
    }
    .img-fluid{
        max-width: 30%;
        height: auto;
    }
    .col{
        align-self: flex-end;
        line-height: 3;
        width: auto;
    }
    .card-title{
        margin: auto;
        align-self: flex-end;

    }
    .card-text{
        margin: auto;
        align-items: flex-end;
    }
    .themed-grid-col {
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: rgba(86, 61, 124, .15);
        border: 1px solid rgba(86, 61, 124, .2);
    }
    .themed-container {
        padding: .75rem;
        margin-bottom: 1.5rem;
        background-color: rgba(0, 123, 255, .15);
        border: 1px solid rgba(0, 123, 255, .2);
    }
    .img-fluid{
        max-width: 30%;
        height: auto;
    }
}